* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1,
footer p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#imageInput {
    margin-bottom: 20px;
}

#imageCanvas {
    display: none;
    border: 1px solid #333;
    margin-bottom: 20px;
    max-width: 100%;
}

#colorPreview {
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}